@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

/* NavBar Styling */

.navbar {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 10vh;
  align-items: center;
}

.navheader {
  font-family: "Montserrat", sans-serif;
  padding-left: 20px;
}

.navheader h1 {
  margin-bottom: 0px;
  font-weight: 800;
}

.navlinks {
  padding: 20px;
}

.navlinks a {
  padding: 20px;
  text-decoration: none;
}

/* HomePage Styling */

.homePage {
  display: flex;
  height: 90vh;
  overflow: hidden;
}

/* Login/SignUp Styling */

.fullscreen-video-wrap {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  z-index: -1;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 10px;
  width: 360px;
  height: 480px;
  padding: 80px 40px;
  margin: 10% auto;
  z-index: 1;
}

.actualForm {
  text-align: center;
  display: block;
  padding: 35px;
  font-family: montserrat;
}

.txtbox {
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.actualForm h1 {
  font-weight: bolder;
  margin-top: -30px;
  margin-bottom: 60px;
}

.actualForm input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.actualForm button {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  background-size: 200%;
  background: linear-gradient(120deg, #de6161, #2657eb);
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  border-radius: 15px;
}

.actualForm button:hover {
  background-position: right;
}

/* PROFILE PAGE  */
.card-userAvatar {
  position: absolute;
  margin-top: 25px;
  margin-left: 50px;
  width: 200px;
  height: 200px;
  background-color: rgb(180, 204, 248);
  border-radius: 15px;
  align-content: center;
}

.card-userAvatar img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card-userInfo {
  position: absolute;
  width: 200px;
  height: auto + 20px;
  padding: 20px;
  margin-top: 240px;
  margin-left: 50px;
  margin-right: 0px;
  background-color: rgb(180, 204, 248);
  border-radius: 15px;
}

.container-userEvents {
  position: absolute;
  width: 1060px;
  height: 138px;
  margin-top: 25px;
  margin-left: 300px;
  padding-left: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 50px;
  background-color: rgb(180, 204, 248);
  border-radius: 15px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 180px 180px 180px 180px 180px;
  grid-auto-rows: auto;
  row-gap: 10px;
  column-gap: 10px;
}

.container-userEvents img {
  height: 118px;
  width: 175px;
  padding: 1px;
  border-radius: 8px;
  box-shadow: 4px 4px 5px grey;
}

.container-otherEvents {
  position: absolute;
  width: 1060px;
  margin-left: 300px;
  padding: 25px;
  margin-right: 50px;
  margin-top: 215px;
  background-color: rgb(180, 204, 248);
  border-radius: 15px;
}

.container-otherEvents img {
  width: 200px;
  height: 150px;
  padding: 3px;
  border-radius: 8px;
}

.search {
  position: absolute;
  margin-top: 180px;
  margin-left: 310px;
}

/* EVENT SHOW PAGE */
.event-banner {
  position: absolute;
  margin-left: 400px;
  margin-right: 50px;
  margin-top: 10px;
  width: 950px;
  border-radius: 15px;
  height: 175px;
  background-color: rgb(180, 204, 248);
}

.event-banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 175px;
  padding: 10px;
  background-color: rgb(180, 204, 248);
  border-radius: 50px;
}

.event-details {
  padding: 10px;
  position: absolute;
  width: 300px;
  margin-top: 325px;
  margin-left: 50px;
  background-color: rgb(180, 204, 248);
  border-radius: 15px;
}

.attendee-container {
  position: absolute;
  width: 950px;
  padding: 15px;
  margin-top: 195px;
  margin-left: 400px;
  margin-right: 50px;
  background-color: rgb(180, 204, 248);
  align-items: center;
  border-radius: 15px;
}

.attendee-container img {
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 100px;
}

.comment-form {
  position: absolute;
  margin-top: 595px;
  margin-left: 400px;
}

.comments-container {
  position: absolute;
  width: 950px;
  margin-top: 635px;
  margin-left: 400px;
  margin-right: 50px;
  background-color: rgb(180, 204, 248);
  border-radius: 15px;
  padding: 10px;
}

.event-host-avatar {
  position: absolute;
  margin-top: 10px;
  margin-left: 50px;
  width: 300px;
  height: 300px;
  background-color: rgb(180, 204, 248);
  border-radius: 15px;
  text-align: center;
}

.event-host-avatar img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* TOUR PAGE */

.tour-avatar {
  position: absolute;
  margin-top: 10px;
  margin-left: 50px;
  width: 300px;
  height: 300px;
  background-color: rgb(180, 204, 248);
  border-radius: 15px;
  text-align: center;
}

.tour-avatar img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.tour-details {
  padding: 10px;
  position: absolute;
  width: 300px;
  margin-top: 325px;
  margin-left: 50px;
  background-color: rgb(180, 204, 248);
  border-radius: 15px;
  text-align: center;
}

.wrapper {
  position: absolute;
  width: 1020px;
  height: auto;
  margin-top: 10px;
  margin-left: 370px;
  margin-right: 50px;
  background-color: rgb(180, 204, 248);
  border-radius: 15px;
  padding: 38px;
  display: grid;
  grid-template-columns: 225px 225px 225px 225px;
  grid-auto-rows: minmax(300px, auto);
  row-gap: 10px;
  column-gap: 10px;
}

.tour-event-card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 10px;
  height: auto;
}

.tour-event-card img {
  width: 175px;
  height: 125px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 8px 8px 5px grey;
}

/* ACTUAL EVENT CARD */

.event-card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 8px;
  height: auto + 20px;
}

.event-card img {
  width: 175px;
  height: 125px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 8px 8px 5px grey;
}

.wrapper-2 {
  position: absolute;
  width: 1060px;
  min-height: 500px;
  margin-top: 215px;
  margin-left: 300px;
  margin-right: 50px;
  background-color: rgb(180, 204, 248);
  border-radius: 15px;
  padding: 15px;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-auto-rows: minmax(300px, auto);
  row-gap: 10px;
  column-gap: 10px;
}
