* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* NavBar Styling */

.navbar {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 10vh;
  align-items: center;
}

.navheader {
  padding-left: 20px;
}

.navlinks {
  padding: 20px;
}

.navlinks a {
  padding: 20px;
  text-decoration: none;
}

.formContainer {
  background-color: blue;
  top: 0;
  left: 0;
  width: 250px;
  height: 150px;
  margin: 10% auto;
}

.fullscreen-video-wrap {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  z-index: -1;
}

.fullscreen-video-wrap video{
  top: 10vh;
  min-width: 100%;
  min-height: 100%;
}

/* HomePage Styling */
.homePage {
  display: flex;
  height: 90vh;
  overflow: hidden;
  background-image: url("./assets/people-at-concert-1105666.jpg");
  background-size: cover;

}