* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* NavBar Styling */

.navbar {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 10vh;
  align-items: center;
}

.navheader {
  padding-left: 20px;
}

.navlinks {
  padding: 20px;
}

.navlinks a {
  padding: 20px;
  text-decoration: none;
}

/* HomePage Styling */
.homePage {
  display: flex;
  height: 90vh;
  overflow: hidden;
  background-image: url("./assets/people-at-concert-1105666.jpg");
  background-size: cover;

}